Django==1.5.1
Mako==0.8.0
Markdown==2.3.1
MarkupSafe==0.18
-e git://github.com/ralsina/nikola.git@4e95a0c72914c20d8314d4f230227392ac09586e#egg=Nikola-dev
Pillow==2.0.0
PyRSS2Gen==1.1
Pygments==1.6
South==0.8.1
Unidecode==0.04.12
Yapsy==1.10.1-pythons2n3
argparse==1.2.1
configparser==3.3.0r2
distribute==0.6.34
django-allauth==0.10.1
django-bootstrap-toolkit==2.12.0
django-datetime-widget==0.5
django-debug-toolbar==0.9.4
django-rq==0.4.6
docutils==0.10
doit==0.21.1
lxml==3.2.1
oauthlib==0.4.1
pyinotify==0.9.4
python-dateutil==2.1
python-openid==2.2.5
pytz==2013b
redis==2.7.5
requests==1.2.2
requests-oauthlib==0.3.2
rq==0.3.7
rq-scheduler==0.3.6
six==1.3.0
textile==2.1.5
times==0.6.1
wsgiref==0.1.2
