{% load account %}
{% load bootstrap_toolkit %}
<!DOCTYPE html>
<html>
<head>
    {% bootstrap_stylesheet_tag %}
    {% bootstrap_stylesheet_tag "responsive" %}
    <style type="text/css">
        body {
            padding-top: 60px;
        }
    </style>
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
    {% bootstrap_javascript_tag %}
    {% block extra_head %}{% endblock %}
</head>
<body>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/">Done With Nikola</a>
            {% if user.is_authenticated %}
            <ul class="nav pull-right">
                <li><a href="#">Logged in as {% user_display user %}</a></li>
                <li><a href="{% url 'account_logout' %}" class="">Logout</a></li>
            </ul>
            {% endif %}
        </div>
    </div>
</div>

<div class="container">

    {% bootstrap_messages %}

    {% block content %}Empty page{% endblock %}

    <p><hr></p>

    <footer class="row">
        <div class="span6">
            <p>This is <a href="https://donewithniko.la">Done With Nikola</a></p>
        </div>
        <div class="span6" style="text-align:right">
            <p>
                &copy; <a href="http://ralsina.com.ar">Roberto Alsina</a> 2013
            </p>
        </div>
    </footer>

</div> <!-- container -->
</body>
</html>
