# -*- coding: utf-8 -*-
from __future__ import unicode_literals
import time
import json

with open('conf.json', 'r') as fd:
    conf_data = json.load(fd)

BLOG_AUTHOR = conf_data['BLOG_AUTHOR']
BLOG_TITLE = conf_data['BLOG_TITLE']
SITE_URL = conf_data['SITE_URL']
BLOG_EMAIL = conf_data['BLOG_EMAIL']
BLOG_DESCRIPTION = conf_data['BLOG_DESCRIPTION']
DEFAULT_LANG = conf_data['DEFAULT_LANG']

TRANSLATIONS = {
    DEFAULT_LANG: "",
    # Example for another language:
    # "es": "./es",
}

SIDEBAR_LINKS = {
    DEFAULT_LANG: (
        ('/archive.html', 'Archives'),
        ('/categories/index.html', 'Tags'),
        ('/rss.xml', 'RSS'),
    ),
}

post_pages = (
    ("posts/*.rest", "posts", "post.tmpl", True),
    ("posts/*.markdown", "posts", "post.tmpl", True),
    ("posts/*.textile", "posts", "post.tmpl", True),
    ("stories/*.rest", "stories", "story.tmpl", False),
    ("stories/*.markdown", "stories", "story.tmpl", False),
    ("stories/*.textile", "stories", "story.tmpl", False),
)

post_compilers = post_compilers = {
    "rest": ('.rest'),
    "markdown": ('.markdown'),
    "textile": ('.textile',),
    "txt2tags": ('.t2t',),
    "bbcode": ('.bb',),
    "wiki": ('.wiki',),
    "html": ('.html', '.htm')
}

OUTPUT_FOLDER = conf_data['OUTPUT_FOLDER']

CONTENT_FOOTER = 'Contents &copy; {date} \
        <a href="mailto:{email}">{author}</a> - Powered by \
        <a href="http://nikola.ralsina.com.ar">Nikola</a>'
CONTENT_FOOTER = CONTENT_FOOTER.format(email=BLOG_EMAIL,
                                       author=BLOG_AUTHOR,
                                       date=time.gmtime().tm_year)

# To enable comments via Disqus, you need to create a forum at
# http://disqus.com, and set DISQUS_FORUM to the short name you selected.
# If you want to disable comments, set it to False.
# Default is "nikolademo", used by the demo sites
# DISQUS_FORUM = "nikolademo"

GZIP_FILES = True

GLOBAL_CONTEXT = {}
