{% extends "base.html" %}
{% load bootstrap_toolkit %}
{% load staticfiles %}

{% block extra_head %}
{{ form.media }}
<script type="text/javascript" src="{% static markitup/jquery.markitup.js %}"></script>
<script type="text/javascript" src="{% static /markitup/sets/rest/set.js %}"></script>
<script type="text/javascript" src="{% static markitup/sets/textile/set.js %}"></script>
<script type="text/javascript" src="{% static markitup/sets/markdown/set.js %}"></script>
<link rel="stylesheet" type="text/css" href="{% static markitup/skins/markitup/style.css %}">
<link href="{% static markitup/sets/rest/style.css %}" type="text/css" media="screen" rel="stylesheet" />
<link href="{% static markitup/sets/textile/style.css %}" type="text/css" media="screen" rel="stylesheet" />
<link href="{% static markitup/sets/markdown/style.css %}" type="text/css" media="screen" rel="stylesheet" />
{% endblock %}

{% block content %}
<form class="form-horizontal" action="#" method="post">{% csrf_token %}
{% bootstrap_form form layout="horizontal" %}
 <div class="form-actions">
   <button type="submit" class="btn btn-primary pull-right">Submit</button>
 </div>
 </form>
<script language="javascript">
var mySettings = {{form.markup.value}}Settings;
$(document).ready(function()    {
    now = new Date()
    if ($('#id_date_0').val() == '') {
        $('#id_date_0').val(now.getDate()+'/'+(now.getMonth()+1)+'/'+now.getFullYear()+' '+now.getHours()+':'+now.getMinutes());
    }
    $('#id_blog').val({{blog}});
    $('#id_text').markItUp({{form.markup.value}}Settings);
    $('#id_markup').change(function() {
            $('#id_text').markItUpRemove();
            newSet = $(this).val();
            switch(newSet) {
                case 'rest':
                    $('#id_text').markItUp(restSettings);
                    break;
                case 'textile':
                    $('#id_text').markItUp(textileSettings);
                    break;
                case 'markdown':
                    $('#id_text').markItUp(markdownSettings);
                    break;
            }
            return false;
        }
    );
    $('#id_title').change(function() {
        // Make the slug autogenerate from the title
        if ($('#id_slug').val() == '') {
            $('#id_slug').val($('#id_title').val().toLowerCase().replace(/[^\w ]+/g,'').replace(/ +/g,'-'));
        }
    });
});
</script>
{% endblock %}
