{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}

<div class="btn-group pull-right">
    <a class="btn btn-success" href="{% url "post_add" %}">Quick Post</a>
    <a class="btn btn-success" href="{% url "blog_add" %}">Create A New Blog</a>
</div>

<div class="tabbable">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1" data-toggle="tab">Your Blogs</a></li>
        <li><a href="#tab2" data-toggle="tab">Your Posts</a></li>
        <li><a href="#tab3" data-toggle="tab">Your Pages</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab1">
        {% if user.owner_of.all or user.member_of.all %}
            <ul class="unstyled">
            {% for blog in user.owner_of.all %}
                <li><span class="lead">{{blog}}</span> <span class="label label-info">owner</span>
                <li>
                    <div class="btn-group">
                        <a class="btn btn-small" href="{% url "post_add" blog_id=blog.id %}"><i class="icon-plus"></i> New Post</a>
                        <a class="btn btn-small" href="{% url "story_add" blog_id=blog.id %}"><i class="icon-plus"></i> New Page</a>
                        <a class="btn btn-small" href="{% url "blog_update" pk=blog.id %}"><i class="icon-wrench"></i> Edit</a>
                        <a class="btn btn-small" href="{% url "blog_delete" pk=blog.id %}"><i class="icon-trash"></i> Delete</a>
                        <a class="btn btn-small" href="{{blog.url}}"><i class="icon-eye-open"></i> View</a>
                    </div>
                </li>
            {% endfor %}
            {% for blog in user.member_of.all %}
                {% if blog not in user.owner_of.all %}
                <li><span class="lead">{{blog}}</span> <span class="label label-info">member</span>
                <li>
                    <div class="btn-group">
                        <a class="btn btn-small" href="{% url "post_add" blog_id=blog.id %}"><i class="icon-plus"></i> New Post</a>
                        <a class="btn btn-small" href="{% url "story_add" blog_id=blog.id %}"><i class="icon-plus"></i> New Page</a>
                        <a class="btn btn-small" href="{{blog.url}}"><i class="icon-eye-open"></i> View</a>
                    </div>
                </li>
                {% endif %}
            {% endfor %}
            </ul>
        {% else %}
            You can't post in any blogs yet.
        {% endif %}
        </div>

        <div class="tab-pane" id="tab2">
            {% if user.post_set.all %}
                <ul class="unstyled">
                {% for post in user.post_set.all %}
                    <li><span class="lead">{{post.title}}</span> at {{post.date}} in <span class="label label-info">{{post.blog}}</li>
                    <li><div class="btn-group">
                        <a class="btn btn-small" href="#post_view"><i class="icon-eye-open"></i> View</a>
                        <a class="btn btn-small" href="{% url "post_update" pk=post.id %}"><i class="icon-pencil"></i> Edit</a>
                        <a class="btn btn-small" href="{% url "post_delete" pk=post.id %}"><i class="icon-trash"></i> Edit</a>
                        </div>
                    </li>
                {% endfor %}
                </ul>
            {% else %}
                You have not posted anything yet.
            {% endif %}
        </div>

        <div class="tab-pane" id="tab3">
        {% if user.story_set.all %}
            <ul>
            {% for story in user.story_set.all %}
                <li>
                <a href="{% url "story_update" pk=story.id%}">{{story}}</a> |
                <a href="{% url "story_delete" pk=story.id%}">Delete</a>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            You have not created any pages yet.
        {% endif %}
        </div>

    </div>
</div>
{% endblock %}
