{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}
{% if user.owner_of.all or user.member_of.all %}
    Your blogs:
    <ul>
    {% for blog in user.owner_of.all %}
        <li>{{blog}} [owner]
            <a href="{% url "post_add" blog_id=blog.id %}">New Post</a> |
            <a href="{% url "blog_update" pk=blog.id %}">Edit</a> |
            <a href="{% url "blog_delete" pk=blog.id %}">Delete</a>
        </li>
    {% endfor %}
    {% for blog in user.member_of.all %}
        {% if blog not in user.owner_of.all %}
            <li>{{blog}} [member]<a href="#">New Post</a> </li>
        {% endif %}
    {% endfor %}
    </ul>
{% else %}
    You can't post in any blogs yet.
{% endif %}

<a href="{% url "blog_add" %}">Create A New Blog</a>
{% endblock %}
